*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Open sans', 'STHeitiSC-Light', Arial, sans-serif;
  margin: 0;
  padding: 10px;
  min-width: 300px;
}

ul {
  padding: 0;
}

ol,
li {
  list-style: none;
}

.container,
.league {
  width: 100%;
  max-width: 600px;
}

.container {
  margin: 20px auto;
}

.league {
  margin: 40px auto 0;
  padding: 0;
}

.title {
  text-align: center;
}

.title__main {
  font-size: 24px;
}

.title__sub {
  font-size: 22px;
}

.league {
  text-align: left;
}

.league__info {
  margin: 10px 0;
  padding: 0 40px;
  text-align: right;
  font-size: 14px;
}

.person-ul {
  overflow: auto;
  position: relative;
}

.person {
  margin: 0;
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  width: 600%;
}

.person:nth-child(even) {
  background: #eee;
}

.person--header {
  font-weight: bold;
}

.person__rank {
  width: 15%;
  text-align: center;
}

.person__name {
  width: 25%;
}

.person__score {
  width: 15%;
  text-align: center;
}

.person__rate {
  width: 20%;
}

.person__result {
  width: 30%;
  text-align: center;
}

.person__result.large {
  width: 40%;
  text-align: center;
}

.board-container {
  position: relative;
}

.hide-name {
  position: absolute;
  top: -16px;
  left: 0;
  display: none;
  background: white;
}

.hide-name .person {
  width: 70px;
  border-right: 1px #eee solid;
}

.hide-name .person:nth-child(even) {
  border-right: 1px #fff solid;
}

.hide-name .person .person__name {
  width: 100%;
}

.details {
  margin: 0;
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.details:nth-child(even) {
  background: #eee;
}

.details--header {
  font-weight: bold;
}

.details_player {
  width: 25%;
}

.details_character {
  width: 34%;
}

.details_result {
  width: 20%;
}

.details_win .details_result {
  color: green;
}

.details_loss .details_result {
  color: red;
}

.single-game-details-title {
  cursor: pointer;
}

.win_goodmen {
  color: green;
}

.win_wolves {
  color: red;
}

.win_thirdSide {
  color: blue;
}

.expand-icon {
  float: right;
  margin-right: 10px;
}

.expand-icon svg {
  display: block;
  width: 26px;
}

.heart {
  width: 20px;
  float: left;
  margin-right: 10px;
  margin-top: 2px;
}

.heart img {
  width: 100%;
}

.fix-header {
  position: absolute;
  top: 0;
  background: white;
  margin: 0;
  z-index: 999;
  display: none;
  border-bottom: #eee solid 1px;
  overflow: hidden;
}

.fix-header .header-person-name {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 70px;
  font-weight: bold;
  background: white;
  border-right: #eee solid 1px;
  display: none;
}
