*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Open sans', 'STHeitiSC-Light', Arial, sans-serif;
  margin: 0;
}

ul {
  padding: 0;
}

ol, li {
  list-style: none;
}

.container, .league {
  width: 100%;
  max-width: 600px;
}

.container {
  margin: 20px auto;
}

.league {
  margin: 40px auto 0;
  padding: 0;
}

.title {
  text-align: center;
}

.title__main {
  font-size: 24px;
}

.title__sub {
  font-size: 22px;
}

.league {
  text-align: left;
}

.league__info {
  margin: 10px 0;
  padding: 0 40px;
  text-align: right;
  font-size: 14px;
}

.person {
  margin: 0;
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

.person:nth-child(even) {
  background: #eee;
}

.person--header {
  font-weight: bold;
}

.person__rank {
  width: 15%;
}

.person__name {
  width: 40%;
}

.person__score {
  width: 20%;
}